@model IEnumerable<School.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>This page should be showing information about all Teachers</p>

<nav>
    <a class="navlink" href="/TeacherData/New">New Teacher</a>
    <a class="navlink" href="/TeacherData/Ajax_New">New Teacher with Ajax</a>
</nav>

<div id="containerlist">
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/TeacherData/Show/@teacher.TeacherId">@teacher.TeacherFName @teacher.TeacherLName</a></div>
        </div>
    }
</div>