@model School.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<a class="navlink" href="/TeacherData/Index">Back To Teacher</a>
<div id="containershow">
    <h2>@Model.TeacherFName @Model.TeacherLName</h2>

    <a class="btn btn-danger" href="/TeacherData/DeleteConfirm/@Model.TeacherId">Delete</a>
    
</div>
